.main-layout {
    display: grid;
    grid-template-columns: $layoutPadding 1fr $layoutPadding;
    // min-height: 100vh;
    > * {
        grid-column: 2;
    }

    > *.full {
        grid-column: 1 / -1;
    }

    @include for-narrow-layout {
        @include layoutGTC($break-narrow);
    }

    @include for-normal-layout {
        @include layoutGTC($break-normal);
    }

    @include for-wide-layout {
        @include layoutGTC($break-wide);
    }
}

.card-grid {
    margin-block: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
    grid-auto-flow: dense;

    > * {
        display: grid;
        align-items: center;
        justify-items: center;
        > * {
            grid-area: 1 / 1;
        }
        background-color: rgb(218, 212, 212);
    }
}

.add-diamond {
    height: 70px;
    border-radius: 2%;
    text-align: center;
    background-color:rgb(218, 212, 212);
    box-shadow: 0px 0px 10px 3px rgba(140, 140, 140, 0.61);
}

.add-btn {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    font-weight: bolder;
}
